@import "mocha.css";

* {
    padding: 0;
    border-radius: 0px;
    font-size: 14px;
    font-family: "Iosevka Nerd Font" ;
    min-height: 0;
    margin: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @text;
}

tooltip {
    border: 2px solid @blue;
    background-color: @base;
}

#workspaces {
    border: 2px solid @blue;
}

#workspaces button {
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    color: @subtext0;
}

#workspaces button:hover {
    color: @subtext1;
}

#workspaces button.empty {
    color: @overlay1;
    padding: 0;
    min-width: 0;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.empty * {
    font-size: 0px;
    background: transparent;
    border: 0px;
}

window#waybar.empty #window {
    font-size: 0px;
    background: transparent;
    border: 0px;
}

#network,
#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#custom-distro,
#tray,
#workspaces {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 4px;
    background-color: @base;
    color: @text;
    opacity: 1;
}

#clock {
    border: 2px solid @red;
}

#custom-distro {
    border: 2px solid @pink;
}

#window {
    border: 2px solid @lavender;
}

#battery {
    border: 2px solid @sapphire;
}

#cpu {
    border: 2px solid @maroon;
}

#memory {
    border: 2px solid @peach;
}

#backlight {
    border: 2px solid @sky;
}

#pulseaudio {
    border: 2px solid @teal;
}

#custom-media {
    border: 2px solid @sky;
}

#custom-media.custom-mpv {
    border: 2px solid @mauve;
}

#custom-media.custom-spotify {
    border: 2px solid @green;
}

#custom-media.custom-vlc {
    border: 2px solid @peach;
}

#custom-media.custom-firefox {
    border: 2px solid @red;
}

#temperature {
    border: 2px solid @yellow;
}

#tray {
    border: 2px solid @mauve;
}

#network {
    border: 2px solid @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border: 2px solid @red;
}

#GtkSeparatorMenuItem {
    border-radius: 0px;
    padding: 0px;
}
