@import "mocha.css";

* {
    border: none;
    min-height: 0;
    font-family: "D2CodingLigature Nerd Font Propo";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    padding: 0px;
}

window#waybar {
    background: transparent;
    border: 0px solid @lavender;
    border-radius: 4px;
}

tooltip {
    background-color: @base;
    border: 0px solid @lavender;
    font-size: 2px;
	color: @text;
}

tooltip label {
	margin: 8px;
}

window#waybar.empty #window {
    font-size: 0px;
    border: 0px;
}

#image {
    margin: 6px 0px 6px 6px;
    padding: 2px 2px;
    border-radius: 4px;
}

#temperature,
#clock,
#tray,
#cpu,
#backlight,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 3px 7px;
	border-radius: 4px;
}

#cava,
#idle_inhibitor {
    margin: 6px 6px 6px 0px;
    padding: 3px 7px;
    border-radius: 4px;
}

#window,
#custom-media {
    margin: 6px 6px 6px 0px;
    padding: 0px 7px;
    border-radius: 4px;
}

#taskbar {
    margin: 6px 6px 6px 0px;
    border-radius: 4px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 3px 5px;
    color: @text;
    background-color: @base;
    border: 0px solid @lavender;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: @crust;
    background-color: @lavender;
}

#workspaces button.urgent {
    background-color: @red;
	color: @crust;
	border: 1px solid @red;
}

#cava.silent,
#workspaces button.empty {
    background-color: transparent;
    color: transparent;
    border: 0px;
}

#clock {
    background-color: @base;
    border: 0px solid @lavender;
    color: @text;
    margin-left: 5px;
}

#taskbar,
#image,
#cava,
#idle_inhibitor,
#temperature,
#window,
#custom-media,
#cpu,
#backlight,
#memory,
#network,
#pulseaudio,
#battery,
#tray {
    background-color: @base;
    border: 0px solid @lavender;
    color: @text;
}

#cava {
    margin-left: 4px;
    padding-right: 0px;
    padding-left: 7px;
}

#taskbar button {
    padding: 0px;
    padding-right: 2px;
    padding-left: 2px;
}

#network {
	min-width: 90px;
}

#cpu,
#memory,
#battery,
#backlight,
#pulseaudio {
	min-width: 50px;
}

#temperature.critical,
#cpu.critical,
#memory.critical {
    color: @red;
    border: 1px solid @red;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: @red;
    border: 1px solid @red;
}
