@import "mocha.css";

* {
    border: none;
    min-height: 0;
    font-family: "Iosevka Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: @base;
    border: 2px solid @text;
    border-radius: 4px;
}

tooltip {
    background-color: @base;
    border: 2px solid @text;
    font-size: 2px;
	color: @text;
}

tooltip label {
	margin: 8px;
}

window#waybar.empty #window {
    font-size: 0px;
    border: 0px;
}

#window,
#custom-media,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
	border-radius: 4px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @text;
    background-color: @mantle;
    border: 2px solid @text;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: @crust;
    background-color: @text;
}

#workspaces button.urgent {
    background-color: @red;
	color: @crust;
	border: 2px solid @red;
}

#clock {
    background-color: @mantle;
    border: 2px solid @text;
    color: @text;
    margin-left: 5px;
}

#window,
#custom-media,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray {
    background-color: @base;
    border: 2px solid @text;
    color: @text;
}

#network {
	min-width: 100px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
	min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: @red;
    border: 2px solid @red;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: @red;
    border: 2px solid @red;
}
